# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Environment variables
.env
.DS_Store 

# Generated types
src/generated-types/

sybel-bigquery.json