# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Environment variables
.env
.DS_Store

# Log files
*.log

# VS code files
.vscode/

# Blockchain parts
blockchain/artifacts/
blockchain/cache/
blockchain/contracts/artifacts/build-info/